body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 75vh;
    background: #fff;
    flex-direction: column;
    margin: 0;
}

main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 100%;
    text-align: center;
}

h1 {
    color: blueviolet;
}
.containers{
    text-align: center;
    border-radius: 50px;
    padding: 1%;
}

input[type=text], input[type=password], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .lable{
    color: #000;
  }
  button{
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4CAF50;
    width: 100%;
    font-size: 16px;
  }

  button:hover {
    color: rebeccapurple;
  }
  input[type=text], input[type=password], input[type=date] :hover{

    color: #000;
  }
  input[type=text], input[type=password], input[type=date] :active{

    color: blue;
  }

